body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    z-index: 500;
}

#buttons {
    border-bottom: 1px solid lightslategray;
    /* position: -webkit-sticky;
    position: sticky; */
    text-align: center;
    background-color: whitesmoke;
}

#more-button {
    padding: .7em .5em;
    margin: 0 auto;
    width: 75%;
}

#more-button-p {
    width: 100%;
}

#images {
    background-image: url('./assets/images/concrete-texture.png');
}

.spacedDiv {
    margin: 2em;
}

.btn-info { 
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: slategray;
    border-color: slategray;
}

.btn-info:hover {
    background-color: #feda6a;
    border-color: #feda6a;
    color: darkgoldenrod;
}

.btn-primary {
    margin: 0 0 0 2em;
}

.card {
    margin: 0;
    border: 0;
    background: transparent;
}

.card-img-top {
    padding-top: .5em;
}
.card-body {
    padding: .25em;
}
.card-text {
    text-transform: uppercase;
    color: slategray;
    text-align: center;
    font-size: .7em;
}

header h1 {
    color: white;
    background-color: slategray;
    padding: 1em;
    margin: 0;
    line-height: .4em;
}
.centered {
    display: block;
    text-align: center;
}

.poiret {
    font-family: 'Poiret One', cursive;
}

.bigger {
    font-size: 1.5em;
}

.subtitle {
    font-size: .5em;
    margin: 0;
}