body {
    
}

.spacedDiv {
    margin: 2em;
}

.btn-info { 
    margin-right: 1em;
    margin-bottom: 1em;
}

.btn-primary {
    margin: 1em 0;
}

.card {
    margin: 1em;
}

.centered {
    margin: 1em auto;
    display: block;
}